footer{
    display: flex;
    flex-direction: column;
    background-color: var(--dark-purple);
}

footer .top-footer{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2rem 12rem 0;

}

footer i {
    color: white;
    margin: 0 5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

footer li {
    list-style-type: none;
}

footer a {
    text-decoration: none;
    font-size: var(--size-text);
    font-family: var(--fonte-texto);
    color: var(--white);
    transition: all .3s;
}

footer a:hover{
    background: rgb(138,29,71);
    background: linear-gradient(90deg, rgb(143, 65, 194) 0%, rgb(164, 24, 141) 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}


footer .top-footer .f1 .f-slogan{
    justify-content: flex-start; 
    font-family: var(--fonte-titulo);
    padding-left: 30px;
    
}

footer .top-footer .f-content nav ul li{
    margin: 10px 0;
}


footer .top-footer p {
    color: var(--white);
    font-family: var(--fonte-texto);
    font-weight: 500;
    max-width: 70%;
}


footer .top-footer img{
    width: 180px;
}

footer .f-content {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
}

footer .f-content p{
    font-size: var(--size-text);
    margin-bottom: 10px;
}

footer .f-content a {
    width: 90px;
}

footer .bottom-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: var(--white);
    font-family: var(--fonte-texto);
    padding: 20px 3rem;
}

footer .bottom-footer p{
    text-align: center;
    font-family: var(--fonte-titulo);
}

footer .bottom-footer p span{
    font-size: 18px;
    background: rgb(138,29,71);
    background: linear-gradient(90deg, rgb(143, 65, 194) 0%, rgb(164, 24, 141) 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}

@media (max-width:1250px) {
    footer .top-footer{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding: 2rem 2rem 0;
    
    }

    footer .top-footer .f1 .f-slogan{
        justify-content: flex-start; 
        font-family: var(--fonte-titulo);
        padding-left: 0;
        
    }
}

@media (max-width: 900px) {
    footer .top-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 2rem;
    }

    footer .bottom-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 30px;
    }

    footer .bottom-footer p{
        width: 80vw;

        text-align: center;
        font-family: var(--fonte-titulo);
    }
}