*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body{
    background: rgb(29,12,28);
    background: linear-gradient(90deg, rgba(29,12,28,1) 0%, rgb(53, 11, 79) 45%, rgba(29,12,28,1) 100%);
    background-size: 500% 500%;
    animation: gradientAnimation 20s ease infinite;
    overflow-x: hidden;
}

img {
    width: 100%;
}

@keyframes gradientAnimation {
    0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

.divisor {
    height: 10px;
    background: rgb(50,0,80);
    background: linear-gradient(90deg, rgba(50,0,80,1) 0%, rgba(120,60,157,1) 48%, rgba(50,0,80,1) 100%);
}